{
    "swagger": "2.0",
    "info": {
        "title": "Uber API",
        "description": "Move your app forward with the Uber API",
        "version": "1.0.0"
    },
    "host": "api.uber.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "definitions": {
        "BasicResult": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "number",
                    "description": "エラーがなければ0、エラーの場合1が返ります"
                },
                "product": {
                    "type": "string",
                    "description": "DeviceConnectを提供しているアプリの名前"
                },
                "version": {
                    "type": "string",
                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                },
                "errorCode": {
                    "type": "number",
                    "description": "エラーコード。ない場合もあります。"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "エラーメッセージ。ない場合もあります。"
                }
            }
        }
    },
    "paths": {
        "/gotapi/vibration/vibrate": {
            "put": {
                "summary": "バイブレーションを停止",
                "description": "デバイスのバイブレーション機能を停止",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    },
                    {
                        "name": "pattern",
                        "type": "string",
                        "in": "query",
                        "description": "バイブレーションのパターン。ms単位でカンマつなぎの数字で指定",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "バイブレーションを停止",
                "description": "デバイスのバイブレーション機能を停止",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/notification/onshow": {
            "put": {
                "summary": "通知を表示した際のイベントを受け取るための設定を行う",
                "description": "通知を表示した際にWebSocket経由でイベントを受け取るためのセッションキーを登録します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "WebSocketでイベントを受け取るためのユニークなキー",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/notification/onclick": {
            "put": {
                "summary": "通知がタップされた際のイベントを受け取るための設定を行う",
                "description": "通知がタップされた際にWebSocket経由でイベントを受け取るためのセッションキーを登録します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "WebSocketでイベントを受け取るためのユニークなキー",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/notification/onclose": {
            "put": {
                "summary": "通知が閉じられた際のイベントを受け取るための設定を行う",
                "description": "通知が閉じられた際にWebSocket経由でイベントを受け取るためのセッションキーを登録します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "WebSocketでイベントを受け取るためのユニークなキー",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/availabillity": {
            "get": {
                "summary": "DeviceConnectが使えるかどうかをチェック",
                "description": "DeviceConnect Managerが動作しているかどうか、利用できる状態\nになっているかをチェックします。\n",
                "responses": {
                    "200": {
                        "description": "利用可能",
                        "schema": {
                            "$ref": "#/definitions/BasicResult"
                        }
                    }
                }
            }
        },
        "/authorization/grant": {
            "get": {
                "summary": "接続するためのクライアントを作成する",
                "description": "DeviceConnect Managerに接続するためのクライアントを作成します。",
                "responses": {
                    "200": {
                        "description": "クライアント作成完了",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "clientId": {
                                    "type": "string",
                                    "description": "DeviceConnect ManagerにつなげるクライアントID"
                                },
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0、エラーの場合1が返ります"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                                },
                                "errorCode": {
                                    "type": "number",
                                    "description": "エラーコード"
                                },
                                "errorMessage": {
                                    "type": "string",
                                    "description": "エラーメッセージ"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/authorization/accesstoken": {
            "get": {
                "summary": "アクセストークンを取得する",
                "description": "DeviceConnect Managerからアクセストークンを取得します。",
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "query",
                        "description": "上記で取得したクライアントID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "利用する機能をカンマ区切りで指定。スコープ名は[スコープについて](./webapi/scope)を参照してください。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "アプリケーション名。任意の名前をつけます",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "accessToken": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerに接続するためのアクセストークン"
                                },
                                "scopes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scope": {
                                                "type": "string",
                                                "description": "スコープ名。[スコープについて](./webapi/scope)を参照してください"
                                            },
                                            "expirePeriod": {
                                                "type": "number",
                                                "description": "有効期限。15552000は180日"
                                            }
                                        }
                                    }
                                },
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0、エラーがあれば1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                                },
                                "errorCode": {
                                    "type": "number",
                                    "description": "エラーコード"
                                },
                                "errorMessage": {
                                    "type": "string",
                                    "description": "エラーメッセージ"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/servicediscovery": {
            "get": {
                "summary": "サービスを検索する",
                "description": "DeviceConnectが使える機能を検索します。プラグインとしてインストールされているものがリストアップされます。",
                "parameters": [
                    {
                        "name": "accessToken",
                        "in": "query",
                        "description": "以前の処理で取得したアクセストークン",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0、エラーがあれば1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                                },
                                "services": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "config": {
                                                "type": "string",
                                                "description": "ない場合もあります"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "サービスID"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "サービス名"
                                            },
                                            "online": {
                                                "type": "boolean",
                                                "description": "利用可否。trueの場合利用可"
                                            },
                                            "scopes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "description": "利用できる機能（スコープ）が配列になっています。[スコープについて](./webapi/scope)を参照してください"
                                                }
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "WiFi、Bluetoothなど利用している接続技術が返ります"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/serviceinformation": {
            "get": {
                "summary": "サービス情報を得る",
                "description": "各デバイスがサポートしている機能一覧を取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "in": "query",
                        "description": "以前の処理で取得したサービスIDを指定します",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "accessToken",
                        "in": "query",
                        "description": "以前の処理で取得したアクセストークン",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0、エラーがあれば1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                                },
                                "supports": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "description": "利用できる機能（スコープ）が配列になっています。[スコープについて](./webapi/scope)を参照してください"
                                    }
                                },
                                "connect": {
                                    "type": "object",
                                    "description": "接続状態が返ってきます",
                                    "properties": {
                                        "wifi": {
                                            "type": "boolean",
                                            "description": "WiFiの接続状態。trueなら接続中"
                                        },
                                        "bluetooth": {
                                            "type": "boolean",
                                            "description": "Bluetoothの接続状態。trueなら接続中"
                                        },
                                        "nfc": {
                                            "type": "boolean",
                                            "description": "NFCの接続状態。trueなら接続中"
                                        },
                                        "ble": {
                                            "type": "boolean",
                                            "description": "BLEの接続状態。trueなら接続中"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/battery": {
            "get": {
                "summary": "バッテリー情報の取得",
                "description": "バッテリーの残量や充電中か否かといったステータスを取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "in": "query",
                        "description": "以前の処理で取得したサービスIDを指定します",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "accessToken",
                        "in": "query",
                        "description": "以前の処理で取得したアクセストークン",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得成功",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0、エラーがあれば1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号が返ってきます。執筆時点では2.0.0と入っています"
                                },
                                "charging": {
                                    "type": "boolean",
                                    "description": "充電中ならtrue、違うならfalse"
                                },
                                "level": {
                                    "type": "number",
                                    "description": "バッテリー残量。100倍して%。0.9=90%"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/battery/charging": {
            "get": {
                "summary": "充電中かどうかの判断",
                "description": "デバイスが充電中かどうかを取得します。実行する度に判定されます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得成功時のデータ形式。",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                },
                                "charging": {
                                    "type": "boolean",
                                    "description": "充電中かどうかのフラグ。trueなら充電中。"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/battery/onchargingchange": {
            "put": {
                "summary": "バッテリーの状態が変わったらイベント通知を受け取る設定をする",
                "description": "バッテリーの充電状態が変わったらイベントを受け取るための設定を行います。実際のイベントはWebSocket経由で届きます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "in": "query",
                        "description": "以前の処理で取得したサービスIDを指定します",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "accessToken",
                        "in": "query",
                        "description": "以前の処理で取得したアクセストークン",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sessionKey",
                        "in": "query",
                        "description": "WebSocket側と共通の通知を受け取るためのセッションキー",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "設定完了",
                        "schema": {
                            "$ref": "#/definitions/BasicResult"
                        }
                    }
                }
            },
            "delete": {
                "summary": "バッテリーの状態が変わったらイベント通知を受け取る設定を削除する。",
                "description": "バッテリーの充電状態が変わったらイベントを受け取るための設定を削除します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "WebSocketで受け取るための一意のキー",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/mediastream_recording/record": {
            "post": {
                "summary": "録画を開始する",
                "description": "デバイスのカメラを使って録画を開始します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/mediastream_recording/stop": {
            "put": {
                "summary": "録画を停止する",
                "description": "録画を停止します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスID",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "アクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "処理結果。0ならエラーなし、エラーの場合は1"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnect Managerのアプリ名"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/mediastream_recording/mediarecorder": {
            "get": {
                "summary": "レコーダーの情報を取得",
                "description": "デバイスが持っているレコーダーに関する情報を取得します。複数返ってきます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                },
                                "recorders": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "imageWidth": {
                                                "type": "number",
                                                "description": "画像の幅"
                                            },
                                            "mimeType": {
                                                "type": "string",
                                                "description": "メディアのmimeType"
                                            },
                                            "config": {
                                                "type": "string",
                                                "description": "不明"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "メディア機能のID"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "メディア機能の名称"
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "状態。recordingなど"
                                            },
                                            "imageHeight": {
                                                "type": "number",
                                                "description": "画像の高さ"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file/list": {
            "get": {
                "summary": "レコーダーの情報を取得",
                "description": "デバイスが持っているレコーダーに関する情報を取得します。複数返ってきます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "items": {
                                                "properties": {
                                                    "mimeType": {
                                                        "type": "string",
                                                        "description": "ファイルのmimeType"
                                                    },
                                                    "fileName": {
                                                        "type": "string",
                                                        "description": "ファイル名"
                                                    },
                                                    "updateDate": {
                                                        "type": "string",
                                                        "description": "最終更新日"
                                                    },
                                                    "path": {
                                                        "type": "string",
                                                        "description": "ファイルのパス"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file/remove": {
            "delete": {
                "summary": "レコーダーの情報を取得",
                "description": "デバイスが持っているレコーダーに関する情報を取得します。複数返ってきます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルのパス",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ファイルを削除した後のレスポンス",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file/receive": {
            "get": {
                "summary": "レコーダーの情報を取得",
                "description": "デバイスが持っているレコーダーに関する情報を取得します。複数返ってきます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルのパス",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "mimeType": {
                                    "type": "string",
                                    "description": "ファイルのmimeType"
                                },
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "uri": {
                                    "type": "string",
                                    "description": "ファイルにアクセスするためのURI"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/mediastream_recording/onphoto": {
            "put": {
                "summary": "写真撮影を実行",
                "description": "写真を撮影します。非同期で実行されるのでレスポンスに画像情報は入っていきません。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功した際の情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/mediastream_recording/preview": {
            "put": {
                "summary": "カメラの映像をプレビューする",
                "description": "カメラの映像をリアルタイムプレビューするためのURIを取得します。URIはmultipart/x-mixed-replaceとなっているのでimgタグのsrcに適用するだけでリアルタイムにプレビューが更新されます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "target",
                        "type": "string",
                        "in": "query",
                        "description": "対象となるデバイスのカメラID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "uri": {
                                    "type": "string",
                                    "description": "ファイルにアクセスするためのURI"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file_descriptor/open": {
            "get": {
                "summary": "デバイス上のファイルを開く",
                "description": "デバイス上にあるファイルを開きます。このファイルは新規作成されます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルのパス",
                        "required": true
                    },
                    {
                        "name": "flag",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルの読み書きフラグ。rで読み取りのみ、rwで読み書き。",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file_descriptor/write": {
            "put": {
                "summary": "",
                "description": "デバイスが持っているレコーダーに関する情報を取得します。複数返ってきます。",
                "parameters": [
                    {
                        "name": "media",
                        "type": "file",
                        "in": "formData",
                        "description": "書き込む内容。画像、動画、テキストファイルなど",
                        "required": true
                    },
                    {
                        "name": "position",
                        "type": "string",
                        "in": "formData",
                        "description": "ファイルの書き込み位置を指定",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "formData",
                        "description": "ファイルのパス",
                        "required": true
                    },
                    {
                        "name": "flag",
                        "type": "string",
                        "in": "formData",
                        "description": "ファイルの読み書きフラグ。rで読み取りのみ、rwで読み書き。",
                        "required": true
                    },
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file_descriptor/read": {
            "get": {
                "summary": "ファイルを読み込む",
                "description": "指定したパスのファイルを読み込みます。読み込み開始する場所、長さを指定できます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルのパス",
                        "required": true
                    },
                    {
                        "name": "position",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルの書き込み位置を指定",
                        "required": true
                    },
                    {
                        "name": "length",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルを読み込む長さ",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "fileData": {
                                    "type": "string",
                                    "description": "ファイルのデータ"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "size": {
                                    "type": "number",
                                    "description": "ファイルサイズ"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file_descriptor/close": {
            "put": {
                "summary": "ファイルのポインタを閉じる",
                "description": "ファイルを閉じます。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "string",
                        "in": "query",
                        "description": "ファイルのパス",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/file_descriptor/onwatchfile": {
            "put": {
                "summary": "ファイルの変更を監視する",
                "description": "ファイルが変更されるとWebSocket経由でイベントを受け取れるようになります。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "sessionKey",
                        "type": "string",
                        "in": "query",
                        "description": "WebSocketで受け取るための一意のキー",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/light": {
            "post": {
                "summary": "照明を操作",
                "description": "照明デバイスを明るさ、色を操作します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "lightId",
                        "type": "string",
                        "in": "query",
                        "description": "照明デバイスのID",
                        "required": true
                    },
                    {
                        "name": "color",
                        "type": "string",
                        "in": "query",
                        "description": "照明の色。RGBで指定。",
                        "required": true
                    },
                    {
                        "name": "brightness",
                        "type": "string",
                        "in": "query",
                        "description": "輝度。0.01〜1の間で指定",
                        "required": true
                    },
                    {
                        "name": "flashing",
                        "type": "string",
                        "in": "query",
                        "description": "点滅させる場合。ms単位でカンマ区切りで指定。",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "照明を消す",
                "description": "照明デバイスを消します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "lightId",
                        "type": "string",
                        "in": "query",
                        "description": "照明デバイスのID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "照明デバイスのステータスを変更",
                "description": "照明デバイスのステータスを変更します。基本的に照明をつける場合と同じです。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    },
                    {
                        "name": "lightId",
                        "type": "string",
                        "in": "query",
                        "description": "照明デバイスのID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "description": "照明機器の名前",
                        "required": true
                    },
                    {
                        "name": "color",
                        "type": "string",
                        "in": "query",
                        "description": "照明の色。RGBで指定。",
                        "required": true
                    },
                    {
                        "name": "brightness",
                        "type": "string",
                        "in": "query",
                        "description": "輝度。0.01〜1の間で指定",
                        "required": true
                    },
                    {
                        "name": "flashing",
                        "type": "string",
                        "in": "query",
                        "description": "点滅させる場合。ms単位でカンマ区切りで指定。",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/temperature": {
            "get": {
                "summary": "デバイスから温度を取得",
                "description": "温度センサーの値を取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "type": {
                                    "type": "number",
                                    "description": "1が摂氏、2が華氏。"
                                },
                                "temperature": {
                                    "type": "number",
                                    "description": "温度"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/humidity": {
            "get": {
                "summary": "デバイスの湿度を取得",
                "description": "デバイスが持っている湿度センサーの値を取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                },
                                "humidity": {
                                    "type": "number",
                                    "description": "湿度。0.01〜1の間。100倍して%表記"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/powermeter/instantaneouspowervalue": {
            "get": {
                "summary": "使用電力量を取得",
                "description": "センサーの取得した瞬間電力量を取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "instantaneouspowervalue": {
                                    "type": "number",
                                    "description": "瞬間電力量"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gotapi/illuminance": {
            "get": {
                "summary": "照度を取得",
                "description": "センサーから照度を取得します。",
                "parameters": [
                    {
                        "name": "serviceId",
                        "type": "string",
                        "in": "query",
                        "description": "サービスIDを指定します",
                        "required": true
                    },
                    {
                        "name": "accessToken",
                        "type": "string",
                        "in": "query",
                        "description": "取得したアクセストークン",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "HTTP経由でアクセスするファイル情報",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "number",
                                    "description": "エラーがなければ0"
                                },
                                "product": {
                                    "type": "string",
                                    "description": "DeviceConnectを提供しているアプリの名前"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "バージョン番号"
                                },
                                "illuminance": {
                                    "type": "number",
                                    "description": "照度"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}